
 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About me</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p> I live in Chicago, but I'm open to relocation and remote opportunities.My strengths lie in Mobile, Web, Alexa and Chatbot development, my weaknesses are in databases and writing...clearly.</p>
                </div>
                <div class="col-lg-4">
                    <p>I am passionate about building software users love. I use feedback and user data to its full potential in every product that I am a part of, feel free to contact me anytime! </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#contact" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Contact Me
                    </a>
                </div>
            </div>
        </div>
    </section>
