 <!-- About Section -->
    <section class="success" id="about">
      <script src="//twemoji.maxcdn.com/twemoji.min.js"></script>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I am a mobile,web,alexa skill and chatbot developer.I live in Chicago but I'm open to relocation and remote opportunities!</p>
                    <p> I'm passionate  about building products users want and love. I use feedback to it's full potential in every product I build from the word go. </p>
                </div>
                <div class="col-lg-4">
                    <p>Please contact me anytime if you would like to learn more! You name it and I can build it(unless it's a house).<i class="twa twa-heart"></i> </p>
                </div>

                </div>
            </div>
        </div>
    </section>
