 <!-- About Section -->
    <section class="success" id="about">
      <script src="//twemoji.maxcdn.com/twemoji.min.js"></script>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p> <ul>
                      <li> I live in Chicago, but I'm open to relocation and remote opportunities. </li>
                         My strengths lie in mobile,web,alexa and chatbot development.</p>
                    <p> I am passionate about building software users love. I use feedback and user data to its full potential in every product that I am a part of.</p>
                </div>
                <div class="col-lg-4">
                    <p>Please contact me anytime if you would like to learn more!</p>
                </div>

                </div>
            </div>
        </div>
    </section>
