    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Portfolio 📗</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="timeline">
                <div class = "portfolioContainer left">
                    <div class = "content">
                    <div class="col-sm-4 portfolio-item">
                        <a href="#portfolioModal-1" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="img/portfolio/mcVan.png" class="img-responsive" alt="image-alt">
                        </a>
                    </div>
                </div>
                </div>
                <div class = "portfolioContainer right">
                    <div class = "content">
                    <div class="col-sm-4 portfolio-item">
                        <a href="#portfolioModal-2" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="img/portfolio/campus1871.png" class="img-responsive" alt="image-alt">
                        </a>
                    </div>
                    </div>
                    </div>
                    <div class = "portfolioContainer left">
                        <div class = "content">
                    <div class="col-sm-4 portfolio-item">
                        <a href="#portfolioModal-3" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="img/portfolio/alexaHackathon.png" class="img-responsive" alt="image-alt">
                        </a>
                    </div>
                </div>
            </div>
            <div class = "portfolioContainer right">
            <div class = "content">
                     <div class="col-sm-4 portfolio-item">
                        <a href="#portfolioModal-4" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="img/portfolio/circus.png" class="img-responsive" alt="image-alt">
                        </a>
                    </div>
                </div>
                </div>
                <div class = "portfolioContainer left">
                    <div class = "content">
                    <div class="col-sm-4 portfolio-item">
                        <a href="#portfolioModal-{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="img/portfolio/safe.png" class="img-responsive" alt="{{ post.alt }}">
                        </a>
                    </div>
        
            </div>
            </div>
            </div>
    </section>
